/*******************************************************
HEADER STYLES
*******************************************************/
header#masthead {
  background-color: transparent;
  padding: 0px; }

.site-branding {
  width: 100%; }
  .site-branding .custom-logo-link {
    float: left; }
    .site-branding .custom-logo-link:after {
      border-right: 1px solid #333333;
      content: " ";
      float: right;
      display: block;
      height: 47px;
      padding-left: 26px;
      width: 1px; }
  .site-branding .site-title {
    clear: none;
    float: left;
    font-size: 1.25rem;
    font-weight: 400;
    margin-left: 20px; }
    .site-branding .site-title a {
      color: #ffffff; }
    .site-branding .site-title a:hover {
      color: #333333; }

@media screen and (min-width: 850px) {
  .grid_lock {
    margin: 0 auto;
    width: 850px; } }

/*******************************************************
NAVIGATION STYLES
*******************************************************/
.site-header-menu {
  background-color: #333333;
  margin: 0px;
  width: 100%; }
  .site-header-menu .main-navigation {
    margin: 0px; }
    .site-header-menu .main-navigation .primary-menu {
      display: flex; }
      .site-header-menu .main-navigation .primary-menu li {
        flex: 1; }
        .site-header-menu .main-navigation .primary-menu li a {
          text-align: center; }

.site-header-menu a {
  color: #D9E16C; }

.site-header-menu li:hover > a, .site-header-menu li:hover > a {
  background-color: #ffffff;
  color: #333333; }

/**
 * Varying degrees of sub-menu madness.
 */
.main-navigation ul ul {
  border: 0px; }

.main-navigation ul ul:after, .main-navigation ul ul:before {
  border-color: #333333 transparent; }

.main-navigation ul ul li {
  background-color: #333333;
  border: 0px; }

.main-navigation ul ul li:last-child,
.main-navigation ul ul li:last-child > a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.main-navigation ul li#menu-item-1717 > ul > li:last-child,
.main-navigation ul li#menu-item-1717 > ul > li:last-child > a {
  border-bottom-left-radius: 0px; }

.main-navigation ul ul ul {
  top: 0px; }

/*******************************************************
MAIN CONTENT STYLES
*******************************************************/
.site-content {
  padding-top: 3%;
  padding-bottom: 3%; }

h1.entry-title {
  color: #4273BB;
  font-family: Georgia,"Times New Roman", Times, serif;
  font-size: 1.8rem;
  font-weight: 400; }

/*******************************************************
FOOTER STYLES
*******************************************************/
.site-footer {
  display: block;
  padding: 0 0 15px 0; }

.site-footer .site-title:after {
  content: '';
  display: none; }

.site-info {
  margin: 0px;
  padding: 15px;
  text-align: right; }

.site-info, .site-info a {
  color: #ffffff; }

.site-info a:hover {
  color: #333333; }

/* This overwrites the bg-color ribbon at the top and bottom of the page sitting on top of the content as you scroll. */
body:not(.custom-background-image):before, body:not(.custom-background-image):after {
  background: none;
  height: 0px; }
