/*!
 Theme Name:   IFMSS
 Theme URI:    http://www.ifmss.org
 Description:  Template for the IFMSS website, using a child-theme of the twentysixteen theme.
 Author:       Edd Hurst
 Author URI:   http://eddhurst.com
 Template:     twentysixteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  ifmss
*/

/*******************************************************
HEADER STYLES
*******************************************************/

header#masthead{
	background-color:transparent;
	padding:0px;
}

.site-branding{
	width:100%;

	.custom-logo-link{
		float:left;
		&:after{
			border-right:1px solid #333333;
			content:" ";
			float:right;
			display:block;
			height:47px;
			padding-left:26px;
			width:1px;
		}
	}

	.site-title{
		clear:none;
		float:left;
		font-size:1.25rem;
		font-weight:400;
		margin-left:20px;

		a{
			color:#ffffff;
		}
		a:hover{
			color:#333333;
		}
	}
}

@media screen and ( min-width:850px ){
	.grid_lock{
		margin:0 auto;
		width:850px;
	}
}

/*******************************************************
NAVIGATION STYLES
*******************************************************/

.site-header-menu{
	background-color:#333333;
	margin:0px;
	width:100%;

	.main-navigation{
		margin:0px;

		.primary-menu{
			display:flex;

			li{
				flex:1;

				a{
					text-align:center;
				}
			}
		}
	}

	a{
		color:#D9E16C;
	}

	li{
		&:hover{
			>a{
				background-color:#ffffff;
				color:#333333;
			}
		}
	}

}

/**
 * Varying degrees of sub-menu madness.
 */

.main-navigation ul ul{
	border:0px;
}

.main-navigation ul ul:after, .main-navigation ul ul:before{
	border-color:#333333 transparent;
}

.main-navigation ul ul li{
	background-color:#333333;
	border:0px;
}

.main-navigation ul ul li:last-child,
.main-navigation ul ul li:last-child > a
{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.main-navigation ul li#menu-item-1717 > ul > li:last-child,
.main-navigation ul li#menu-item-1717 > ul > li:last-child > a
{
	border-bottom-left-radius:0px;
}

.main-navigation ul ul ul{
	top:0px;
}

/*******************************************************
MAIN CONTENT STYLES
*******************************************************/

.site-content{
	padding-top:3%;
	padding-bottom:3%;
}

h1.entry-title{
	color:#4273BB;
	font-family:Georgia,"Times New Roman", Times, serif;
	font-size:1.8rem;
	font-weight:400;
}

/*******************************************************
FOOTER STYLES
*******************************************************/

.site-footer{
	display:block;
	padding:0 0 15px 0;

	.site-title{
		&:after{
			content:'';
			display:none;
		}
	}

}

.site-info{
	color:#ffffff;
	margin:0px;
	padding:15px;
	text-align:right;

	a{
		color:#ffffff;

		&:hover{
			color:#333333;
		}
	}
}

/* This overwrites the bg-color ribbon at the top and bottom of the page sitting on top of the content as you scroll. */
body:not(.custom-background-image):before, body:not(.custom-background-image):after{
	background:none;
	height:0px;
}